@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sriracha',sans-serif;
}

body{
    background-color: rgb(56, 82, 155);
    color: rgb(43, 3, 5);
    line-height: 1.6;
}

nav{
    background-color: cornflowerblue;
    color: rgb(233, 218, 9);
    font-size: 24px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;

}

nav .logo>img{
    height: 72px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 18px;
}
nav a{
    color: rgb(9, 41, 219);
    font-weight: 500;
}
nav a:hover{
    color: aliceblue;
}
.header{
    text-align: center;
    padding: 30px;
    background-color: rgba(28, 81, 143, 0.678);
}

.img-portfolio{
    width: 200px;
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 5px 5px 5px floralwhite;
    border: 4px rgb(8, 27, 31);
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}
h2{
    text-align: center;
    margin-bottom: 30px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: beige;
    width: 300px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 1px 1px 2px cadetblue;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3{
    padding: 10px;
    font-size: 24px;
}
.card p{
    padding: 10px;
    font-size: 16px;
}